<a href="https://colab.research.google.com/github/rlagosb/GastricCancerIncidence/blob/main/1_Trajectories_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

In [ ]:
import pandas as pd
import plotly.graph_objects as go

path_cubo = 'https://raw.githubusercontent.com/rlagosb/GastricCancerIncidence/main/Data/'

# cargar provincias
provincias = (pd.read_parquet(path_cubo + 'CUBO_CANCER_DIGESTIVO.parquet')[['Region','Provincia','Nombre Region','Nombre Provincia']].
              drop_duplicates())


# Cargar egresos-defunciones integradas
egresosDefs = pd.read_parquet(path_cubo + 'EGRESOS_DEFUNCIONES_DESAGREGADOS.parquet')
print(egresosDefs.info())
egresosDefs.head()

<class 'pandas.core.frame.DataFrame'>
Index: 179750 entries, 0 to 193742
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   idPersona    177398 non-null  object
 1   Sexo         179750 non-null  int64
 2   A帽o          179750 non-null  int64
 3   Edad         179750 non-null  int64
 4   Provincia    179686 non-null  float64
 5   Categoria    179750 non-null  object
 6   Trayectoria  179750 non-null  object
dtypes: float64(1), int64(3), object(3)
memory usage: 11.0+ MB
None

,idPersona,Sexo,A帽o,Edad,Provincia,Categoria,Trayectoria
0,00004077707F5BC1AA117B203BE2833B3F52FAFC855000...,1,2024,83,131.0,C16,Defuncion
1,0000D51AA8378E56D7842D351885F332F7001BCB5FE681...,1,2011,66,101.0,C16,Egreso
2,000279A75E32EA8D99AC4F7E4583179CA9DDDF2681BD91...,1,2011,89,92.0,C16,Egreso
3,000279A75E32EA8D99AC4F7E4583179CA9DDDF2681BD91...,1,2011,89,92.0,C16,Defuncion
5,00043FB7B47538431B765682D5BEF22FACCC0EDF2DB63E...,2,2024,66,135.0,C16,Defuncion

# Casos excluidos
En el periodo objetivo

In [ ]:
# Eventos sin id Persona o Provincia
egresosDefs['SinIdPersona'] = (egresosDefs.idPersona.isna())
egresosDefs['SinProvincia'] = (egresosDefs.Provincia==999)

egresosDefs.reset_index().pivot_table(index='Categoria',
                                                     columns=['Trayectoria','SinProvincia','SinIdPersona'],
                                                     values='index',
                                                     aggfunc='count',
                                                     margins=True)

Trayectoria  Defuncion  Egreso                      All
SinProvincia     False   False        True
SinIdPersona     False   False  True False True
Categoria
C16              69860  107261  2343   277    9  179750
All              69860  107261  2343   277    9  179750

In [ ]:
egresosDefs = egresosDefs[lambda x: (x.PeriodoObjetivo) & ~x.SinProvincia & ~x.SinIdPersona & (x.Provincia!=122)] # 122: Ant谩rtica
egresosDefs[egresosDefs.PeriodoObjetivo].reset_index().pivot_table(index='Categoria',
                                                     columns=['Trayectoria','SinProvincia','SinIdPersona'],
                                                     values='index',
                                                     aggfunc='count',
                                                     margins=True)

Trayectoria  Defuncion  Egreso     All
SinProvincia     False   False
SinIdPersona     False   False
Categoria
C16              69860  107252  177112
All              69860  107252  177112

# Trayectorias Global

In [ ]:
#@title Revisi贸n Trayectorias

def cargar_trayectorias_personas(df):
  # Concatenar eventos CG
  def serie_trayectorias(serie):
    serie = serie.astype(str) + '>'
    x = serie.cumsum()
    return x

  trayectorias = (df.groupby(['idPersona'])['Trayectoria'].
                  apply(serie_trayectorias).str[:-1].value_counts(dropna=False))
  return trayectorias.reset_index()

trayectorias = cargar_trayectorias_personas(egresosDefs.copy())
print(trayectorias.info())
trayectorias.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Trayectoria  383 non-null    object
 1   count        383 non-null    int64
dtypes: int64(1), object(1)
memory usage: 6.1+ KB
None

            Trayectoria  count
0                Egreso  62862
1             Defuncion  33223
2      Egreso>Defuncion  23058
3         Egreso>Egreso  20217
4  Egreso>Egreso>Egreso   8359

In [ ]:
print(trayectorias['count'].sum(), 'personas con trayectorias de CG,\n',
      trayectorias[lambda x: x.Trayectoria.str.contains('Defuncion')]['count'].sum()*100/trayectorias['count'].sum(), '% con defunci贸n\n',
      trayectorias[lambda x: x.Trayectoria.str.contains('Egreso')]['count'].sum()*100/trayectorias['count'].sum(), '% con egreso\n',
      trayectorias[lambda x: x.Trayectoria.str.contains('Defuncion') & ~x.Trayectoria.str.contains('Egreso')]['count'].sum()*100/trayectorias['count'].sum(), '% con defunci贸n sin egreso')

177112 personas con trayectorias de CG,
 39.46542300916934 % con defunci贸n
 81.24068386105967 % con egreso
 18.75931613894033 % con defunci贸n sin egreso

In [ ]:
def diagrama_sankey(trayectorias):

  # Parametrizar transiciones
  for col in ['Sano_Egreso','Sano_Defuncion','Egreso_Vivo','Egreso_Defuncion']:
    trayectorias[col] = False
  egresoInicio = (trayectorias.Trayectoria.str[:6]=='Egreso')
  conDefuncion = (trayectorias.Trayectoria.str.contains('Defuncion'))
  # Sano>Egreso
  trayectorias.loc[egresoInicio,'Sano_Egreso'] = True
  # Sano>Defuncion
  trayectorias.loc[trayectorias.Trayectoria.str[:9]=='Defuncion','Sano_Defuncion'] = True
  # Egreso>Vivo
  trayectorias.loc[egresoInicio & ~conDefuncion,'Egreso_Vivo'] = True
  # Egreso>Defuncion
  trayectorias.loc[egresoInicio & conDefuncion,'Egreso_Defuncion'] = True

  arcos = (trayectorias.melt(id_vars=['Trayectoria','count'],
                           value_vars=['Sano_Egreso','Sano_Defuncion','Egreso_Vivo','Egreso_Defuncion'],
                           var_name='Arco',value_name='Valor')[lambda x: x.Valor].  # dejar s贸lo transiciones activas
           groupby(['Arco','Valor'])['count'].sum().reset_index())                  # agrupar transiciones
  # separar origen/destino
  arcos[['Source','Target']] = (arcos.Arco.str.replace('Egreso','Hospitalizaci贸n').str. # cambiar nombre Egreso
                                split('_',expand=True))

  # Create Sankey diagram https://plotly.com/python/sankey-diagram/
  nodes = pd.concat([arcos['Source'], arcos['Target']]).unique()
  nodes = pd.DataFrame({'name': nodes})
  nodes['id'] = nodes.index
  arcos = arcos.merge(nodes.rename(columns={'name':'Source'}), on='Source', how='left')
  arcos = arcos.merge(nodes.rename(columns={'name':'Target'}), on='Target', how='left', suffixes=('_source', '_target'))

  go.Figure(data=[go.Sankey(
      node=dict(pad=15, thickness=20,
          line=dict(color="black", width=0.5),
          label=nodes['name'],),
      link=dict(
          source=arcos['id_source'],
          target=arcos['id_target'],
          value=arcos['count']))]).show()


diagrama_sankey(trayectorias.copy())

# Trayectorias Provincias

In [ ]:
def trayectorias_persona(df):
  df = df[df.idPersona.notna()]

  fa = df[df.Trayectoria=='Defuncion'][['idPersona','A帽o']].rename(columns={'A帽o':'A帽oDefuncion'})
  eg = df[df.Trayectoria=='Egreso'][['idPersona','A帽o']].rename(columns={'A帽o':'A帽oEgreso'})

  # Obtener a帽o de egreso y hospitalizaci贸n
  df = (df.groupby(['idPersona']).agg({'Provincia':'first'}).reset_index().
        merge(eg, on='idPersona', how='outer').
        merge(fa, on='idPersona', how='outer').
        groupby(['idPersona','Provincia']).agg({'A帽oEgreso':'min','A帽oDefuncion':'max'}).reset_index())

  # M茅tricas sobrevida
  df['Delta'] = df.A帽oDefuncion - df.A帽oEgreso
  df.loc[df.A帽oDefuncion.isna(), 'sobrevida5'] = True
  df.loc[df.Delta.notna(), 'sobrevida5'] = df[df.Delta.notna()].Delta.apply(lambda x: x>=5)

  # get minimum between A帽oEgreso and A帽oDefuncion
  df['Quinquenio'] = df[['A帽oEgreso','A帽oDefuncion']].min(axis=1).apply(lambda x: (x//5)*5)

  df['Defuncion'] = df.A帽oDefuncion.notna()
  df['Egreso'] = df.A帽oEgreso.notna()
  df['DefuncionSinEgreso'] = df.Defuncion & ~df.Egreso

  df = df.groupby(['Provincia','Quinquenio']).agg({'Delta':'mean','sobrevida5':'sum','Defuncion':'sum','Egreso':'sum','DefuncionSinEgreso':'sum','idPersona':'count'}).reset_index()

  return df

trayectoriasProv = trayectorias_persona(egresosDefs.copy())

## Defunciones sin hospitalizaci贸n

In [ ]:
# Defunci贸n sin hospitalizaci贸n por provincia y quinquenio

print('Porcentaje de defunciones sin hospitalizaci贸n:\n',
      trayectoriasProv.DefuncionSinEgreso.sum()*100/trayectoriasProv.idPersona.sum())

trayectoriasProv['PorcDefSinEgreso'] = trayectoriasProv.DefuncionSinEgreso*100/trayectoriasProv.idPersona

trayectoriasProv[lambda x: x.Quinquenio>2000].pivot(columns='Quinquenio',index='Provincia',values='PorcDefSinEgreso').\
merge(provincias, on='Provincia').\
set_index(['Region','Nombre Region','Nombre Provincia']).drop(columns='Provincia').round(1)

Porcentaje de defunciones sin hospitalizaci贸n:
 34.58227057415023

                                                                   2005.0  \
Region Nombre Region                             Nombre Provincia
1      Tarapac谩                                  Iquique             67.0
                                                 Tamarugal           77.8
2      Antofagasta                               Antofagasta         31.9
                                                 El Loa              29.6
                                                 Tocopilla           16.0
3      Atacama                                   Copiap贸             34.6
                                                 Cha帽aral            23.3
                                                 Huasco              28.2
4      Coquimbo                                  Elqui               40.3
                                                 Choapa              52.2
                                                 Limar铆              39.2
5      Valpara铆so                                Valpara铆so          25.4
                                                 Isla de Pascua      25.0
                                                 Los Andes           33.3
                                                 Petorca             37.8
                                                 Quillota            34.7
                                                 San Antonio         38.5
                                                 San Felipe          14.7
                                                 Marga Marga         37.6
6      Libertador General Bernardo O'Higgins     Cachapoal           34.7
                                                 Cardenal Caro       45.8
                                                 Colchagua           38.1
7      Maule                                     Talca               44.0
                                                 Cauquenes           55.1
                                                 Curic贸              40.1
                                                 Linares             41.4
8      Biob铆o                                    Concepci贸n          28.8
                                                 Arauco              33.4
                                                 B铆ob铆o              33.1
9      La Araucan铆a                              Caut铆n              37.9
                                                 Malleco             28.9
10     Los Lagos                                 Llanquihue          29.0
                                                 Chilo茅              45.1
                                                 Osorno              37.0
                                                 Palena              30.6
11     Ays茅n del General Carlos Ib谩帽ez del Campo Coyhaique           38.1
                                                 Ays茅n               43.9
                                                 Capit谩n Prat        60.0
                                                 General Carrera     38.5
12     Magallanes y de la Ant谩rtica Chilena      Magallanes          30.6
                                                 Tierra del Fuego    20.0
                                                 ltima Esperanza    52.0
13     Metropolitana de Santiago                 Santiago            34.4
                                                 Cordillera          24.4
                                                 Chacabuco           39.6
                                                 Maipo               36.7
                                                 Melipilla           51.5
                                                 Talagante           53.1
14     Los R铆os                                  Valdivia            26.4
                                                 Ranco               24.0
15     Arica y Parinacota                        Arica               50.6
                                                 Parinacota          33.3
16     uble                                     Diguill铆n           37.2
                                                 Itata               47.3
                                                 Punilla             41.9

                                                                   2010.0  \
Region Nombre Region                             Nombre Provincia
1      Tarapac谩                                  Iquique             48.1
                                                 Tamarugal           11.1
2      Antofagasta                               Antofagasta         42.6
                                                 El Loa              34.9
                                                 Tocopilla           38.9
3      Atacama                                   Copiap贸             35.3
                                                 Cha帽aral            21.7
                                                 Huasco              27.2
4      Coquimbo                                  Elqui               36.0
                                                 Choapa              46.8
                                                 Limar铆              49.8
5      Valpara铆so                                Valpara铆so          24.2
                                                 Isla de Pascua      20.0
                                                 Los Andes           25.9
                                                 Petorca             43.6
                                                 Quillota            39.0
                                                 San Antonio         42.4
                                                 San Felipe          15.0
                                                 Marga Marga         35.8
6      Libertador General Bernardo O'Higgins     Cachapoal           39.5
                                                 Cardenal Caro       52.8
                                                 Colchagua           37.0
7      Maule                                     Talca               44.7
                                                 Cauquenes           42.4
                                                 Curic贸              41.9
                                                 Linares             49.1
8      Biob铆o                                    Concepci贸n          25.0
                                                 Arauco              34.7
                                                 B铆ob铆o              32.6
9      La Araucan铆a                              Caut铆n              34.0
                                                 Malleco             28.1
10     Los Lagos                                 Llanquihue          30.6
                                                 Chilo茅              38.5
                                                 Osorno              36.8
                                                 Palena              31.8
11     Ays茅n del General Carlos Ib谩帽ez del Campo Coyhaique           29.2
                                                 Ays茅n               35.1
                                                 Capit谩n Prat        60.0
                                                 General Carrera     43.8
12     Magallanes y de la Ant谩rtica Chilena      Magallanes          26.9
                                                 Tierra del Fuego     0.0
                                                 ltima Esperanza    18.2
13     Metropolitana de Santiago                 Santiago            33.3
                                                 Cordillera          25.0
                                                 Chacabuco           34.1
                                                 Maipo               40.3
                                                 Melipilla           39.3
                                                 Talagante           45.4
14     Los R铆os                                  Valdivia            29.1
                                                 Ranco               40.2
15     Arica y Parinacota                        Arica               35.7
                                                 Parinacota           0.0
16     uble                                     Diguill铆n           32.0
                                                 Itata               39.6
                                                 Punilla             43.0

                                                                   2015.0  \
Region Nombre Region                             Nombre Provincia
1      Tarapac谩                                  Iquique             38.3
                                                 Tamarugal           47.1
2      Antofagasta                               Antofagasta         47.6
                                                 El Loa              18.4
                                                 Tocopilla           40.9
3      Atacama                                   Copiap贸             31.3
                                                 Cha帽aral            36.4
                                                 Huasco              31.2
4      Coquimbo                                  Elqui               39.8
                                                 Choapa              65.6
                                                 Limar铆              48.7
5      Valpara铆so                                Valpara铆so          27.4
                                                 Isla de Pascua       0.0
                                                 Los Andes           46.2
                                                 Petorca             45.3
                                                 Quillota            42.0
                                                 San Antonio         43.1
                                                 San Felipe          14.4
                                                 Marga Marga         35.9
6      Libertador General Bernardo O'Higgins     Cachapoal           42.4
                                                 Cardenal Caro       36.9
                                                 Colchagua           42.8
7      Maule                                     Talca               40.8
                                                 Cauquenes           42.9
                                                 Curic贸              40.2
                                                 Linares             41.0
8      Biob铆o                                    Concepci贸n          26.7
                                                 Arauco              35.8
                                                 B铆ob铆o              32.2
9      La Araucan铆a                              Caut铆n              34.4
                                                 Malleco             27.3
10     Los Lagos                                 Llanquihue          24.5
                                                 Chilo茅              38.6
                                                 Osorno              27.1
                                                 Palena              33.3
11     Ays茅n del General Carlos Ib谩帽ez del Campo Coyhaique           24.7
                                                 Ays茅n               26.7
                                                 Capit谩n Prat         0.0
                                                 General Carrera      9.1
12     Magallanes y de la Ant谩rtica Chilena      Magallanes          23.1
                                                 Tierra del Fuego     0.0
                                                 ltima Esperanza    44.0
13     Metropolitana de Santiago                 Santiago            31.6
                                                 Cordillera          17.1
                                                 Chacabuco           34.2
                                                 Maipo               32.7
                                                 Melipilla           41.1
                                                 Talagante           48.5
14     Los R铆os                                  Valdivia            27.6
                                                 Ranco               41.9
15     Arica y Parinacota                        Arica               26.9
                                                 Parinacota           0.0
16     uble                                     Diguill铆n           33.5
                                                 Itata               23.4
                                                 Punilla             39.9

                                                                   2020.0
Region Nombre Region                             Nombre Provincia
1      Tarapac谩                                  Iquique             35.9
                                                 Tamarugal           37.5
2      Antofagasta                               Antofagasta         29.5
                                                 El Loa              30.1
                                                 Tocopilla           30.8
3      Atacama                                   Copiap贸             31.4
                                                 Cha帽aral            40.7
                                                 Huasco              30.1
4      Coquimbo                                  Elqui               37.2
                                                 Choapa              49.1
                                                 Limar铆              48.6
5      Valpara铆so                                Valpara铆so          31.8
                                                 Isla de Pascua      33.3
                                                 Los Andes           46.6
                                                 Petorca             36.8
                                                 Quillota            44.8
                                                 San Antonio         47.2
                                                 San Felipe          28.8
                                                 Marga Marga         38.8
6      Libertador General Bernardo O'Higgins     Cachapoal           43.6
                                                 Cardenal Caro       56.7
                                                 Colchagua           42.2
7      Maule                                     Talca               41.6
                                                 Cauquenes           33.7
                                                 Curic贸              35.9
                                                 Linares             44.8
8      Biob铆o                                    Concepci贸n          30.4
                                                 Arauco              34.6
                                                 B铆ob铆o              33.1
9      La Araucan铆a                              Caut铆n              42.8
                                                 Malleco             41.7
10     Los Lagos                                 Llanquihue          18.5
                                                 Chilo茅              30.2
                                                 Osorno              20.0
                                                 Palena              30.3
11     Ays茅n del General Carlos Ib谩帽ez del Campo Coyhaique           32.9
                                                 Ays茅n               24.4
                                                 Capit谩n Prat        50.0
                                                 General Carrera     27.3
12     Magallanes y de la Ant谩rtica Chilena      Magallanes          29.6
                                                 Tierra del Fuego    40.0
                                                 ltima Esperanza    28.6
13     Metropolitana de Santiago                 Santiago            30.3
                                                 Cordillera          25.3
                                                 Chacabuco           37.2
                                                 Maipo               41.2
                                                 Melipilla           41.1
                                                 Talagante           43.7
14     Los R铆os                                  Valdivia            31.9
                                                 Ranco               41.8
15     Arica y Parinacota                        Arica               23.6
                                                 Parinacota           0.0
16     uble                                     Diguill铆n           41.7
                                                 Itata               42.1
                                                 Punilla             37.5

## Sobrevida (Sup Material 4)

In [ ]:
# add colum percentage sobrevida5

# Agregar total nacional
sobre = pd.concat([trayectoriasProv.copy(),
                  trayectoriasProv.groupby(['Quinquenio'])[['sobrevida5','idPersona']].sum().reset_index()])

# Calcular sobrevida 5 a帽os
sobre['PorcSobrevida5'] = (sobre.sobrevida5*100.0/sobre.idPersona).round(1)

print('Sobrevida a 5 a帽os nacional:\n',   sobre[sobre.Provincia.isna()].sobrevida5.sum()/sobre[sobre.Provincia.isna()].idPersona.sum())

Sobrevida a 5 a帽os nacional:
 0.2855967935037218

In [ ]:
sobre = sobre.pivot(index='Provincia', columns='Quinquenio', values='PorcSobrevida5').\
merge(provincias, on='Provincia', how='left').\
drop(columns='Provincia').set_index(['Region','Nombre Region','Nombre Provincia'])

for col in sobre.columns:
  sobre[col] = sobre[col].astype(float).round(1)

sobre

                                                                   2000.0  \
Region Nombre Region                             Nombre Provincia
NaN    NaN                                       NaN                 26.7
1.0    Tarapac谩                                  Iquique             14.1
                                                 Tamarugal           33.3
2.0    Antofagasta                               Antofagasta         23.6
                                                 El Loa              37.8
                                                 Tocopilla           15.8
3.0    Atacama                                   Copiap贸             39.3
                                                 Cha帽aral            56.2
                                                 Huasco              13.2
4.0    Coquimbo                                  Elqui               26.3
                                                 Choapa              22.2
                                                 Limar铆              20.4
5.0    Valpara铆so                                Valpara铆so          25.5
                                                 Isla de Pascua       NaN
                                                 Los Andes           32.0
                                                 Petorca             25.8
                                                 Quillota            27.1
                                                 San Antonio         15.5
                                                 San Felipe          24.7
                                                 Marga Marga         35.2
6.0    Libertador General Bernardo O'Higgins     Cachapoal           20.5
                                                 Cardenal Caro       29.4
                                                 Colchagua           17.6
7.0    Maule                                     Talca               16.6
                                                 Cauquenes           10.3
                                                 Curic贸              16.7
                                                 Linares             16.9
8.0    Biob铆o                                    Concepci贸n          41.3
                                                 Arauco              38.3
                                                 B铆ob铆o              23.2
9.0    La Araucan铆a                              Caut铆n              17.4
                                                 Malleco             21.0
10.0   Los Lagos                                 Llanquihue          22.8
                                                 Chilo茅              14.8
                                                 Osorno              26.6
                                                 Palena              57.1
11.0   Ays茅n del General Carlos Ib谩帽ez del Campo Coyhaique           16.7
                                                 Ays茅n               41.2
                                                 Capit谩n Prat        50.0
                                                 General Carrera      0.0
12.0   Magallanes y de la Ant谩rtica Chilena      Magallanes          26.6
                                                 Tierra del Fuego    12.5
                                                 ltima Esperanza    12.5
13.0   Metropolitana de Santiago                 Santiago            28.8
                                                 Cordillera          35.5
                                                 Chacabuco           26.1
                                                 Maipo               21.9
                                                 Melipilla           23.9
                                                 Talagante           18.8
14.0   Los R铆os                                  Valdivia            27.2
                                                 Ranco               31.7
15.0   Arica y Parinacota                        Arica               10.3
                                                 Parinacota           NaN
16.0   uble                                     Diguill铆n           39.4
                                                 Itata               18.5
                                                 Punilla             29.0

                                                                   2005.0  \
Region Nombre Region                             Nombre Provincia
NaN    NaN                                       NaN                 26.8
1.0    Tarapac谩                                  Iquique             13.3
                                                 Tamarugal           11.1
2.0    Antofagasta                               Antofagasta         29.4
                                                 El Loa              21.4
                                                 Tocopilla           32.0
3.0    Atacama                                   Copiap贸             31.4
                                                 Cha帽aral            20.0
                                                 Huasco              16.5
4.0    Coquimbo                                  Elqui               23.8
                                                 Choapa              15.9
                                                 Limar铆              16.7
5.0    Valpara铆so                                Valpara铆so          28.2
                                                 Isla de Pascua      25.0
                                                 Los Andes           25.0
                                                 Petorca             20.0
                                                 Quillota            24.8
                                                 San Antonio         20.1
                                                 San Felipe          30.6
                                                 Marga Marga         29.0
6.0    Libertador General Bernardo O'Higgins     Cachapoal           24.8
                                                 Cardenal Caro       12.5
                                                 Colchagua           23.5
7.0    Maule                                     Talca               19.8
                                                 Cauquenes           10.2
                                                 Curic贸              17.8
                                                 Linares             15.7
8.0    Biob铆o                                    Concepci贸n          27.6
                                                 Arauco              30.2
                                                 B铆ob铆o              21.9
9.0    La Araucan铆a                              Caut铆n              33.2
                                                 Malleco             27.7
10.0   Los Lagos                                 Llanquihue          23.7
                                                 Chilo茅              22.3
                                                 Osorno              19.7
                                                 Palena              22.2
11.0   Ays茅n del General Carlos Ib谩帽ez del Campo Coyhaique           33.3
                                                 Ays茅n               36.6
                                                 Capit谩n Prat        20.0
                                                 General Carrera     23.1
12.0   Magallanes y de la Ant谩rtica Chilena      Magallanes          36.8
                                                 Tierra del Fuego    40.0
                                                 ltima Esperanza    28.0
13.0   Metropolitana de Santiago                 Santiago            30.0
                                                 Cordillera          33.5
                                                 Chacabuco           29.2
                                                 Maipo               24.8
                                                 Melipilla           25.7
                                                 Talagante           28.0
14.0   Los R铆os                                  Valdivia            26.2
                                                 Ranco               26.8
15.0   Arica y Parinacota                        Arica               21.3
                                                 Parinacota           0.0
16.0   uble                                     Diguill铆n           25.8
                                                 Itata               22.6
                                                 Punilla             16.8

                                                                   2010.0  \
Region Nombre Region                             Nombre Provincia
NaN    NaN                                       NaN                 25.2
1.0    Tarapac谩                                  Iquique             16.5
                                                 Tamarugal           22.2
2.0    Antofagasta                               Antofagasta         27.0
                                                 El Loa              30.2
                                                 Tocopilla           16.7
3.0    Atacama                                   Copiap贸             28.2
                                                 Cha帽aral            47.8
                                                 Huasco              31.5
4.0    Coquimbo                                  Elqui               25.2
                                                 Choapa              20.2
                                                 Limar铆              13.9
5.0    Valpara铆so                                Valpara铆so          25.4
                                                 Isla de Pascua      40.0
                                                 Los Andes           36.7
                                                 Petorca             23.6
                                                 Quillota            23.1
                                                 San Antonio         20.5
                                                 San Felipe          35.3
                                                 Marga Marga         22.9
6.0    Libertador General Bernardo O'Higgins     Cachapoal           24.2
                                                 Cardenal Caro       18.9
                                                 Colchagua           29.0
7.0    Maule                                     Talca               21.3
                                                 Cauquenes           14.1
                                                 Curic贸              16.7
                                                 Linares             14.6
8.0    Biob铆o                                    Concepci贸n          24.1
                                                 Arauco              25.4
                                                 B铆ob铆o              24.3
9.0    La Araucan铆a                              Caut铆n              21.9
                                                 Malleco             23.1
10.0   Los Lagos                                 Llanquihue          23.9
                                                 Chilo茅              19.5
                                                 Osorno              17.1
                                                 Palena              13.6
11.0   Ays茅n del General Carlos Ib谩帽ez del Campo Coyhaique           31.5
                                                 Ays茅n               10.8
                                                 Capit谩n Prat         0.0
                                                 General Carrera     18.8
12.0   Magallanes y de la Ant谩rtica Chilena      Magallanes          27.5
                                                 Tierra del Fuego    57.1
                                                 ltima Esperanza    13.6
13.0   Metropolitana de Santiago                 Santiago            29.1
                                                 Cordillera          35.0
                                                 Chacabuco           26.9
                                                 Maipo               23.9
                                                 Melipilla           25.1
                                                 Talagante           23.4
14.0   Los R铆os                                  Valdivia            25.4
                                                 Ranco               17.7
15.0   Arica y Parinacota                        Arica               25.6
                                                 Parinacota          50.0
16.0   uble                                     Diguill铆n           22.8
                                                 Itata               20.8
                                                 Punilla             13.9

                                                                   2015.0  \
Region Nombre Region                             Nombre Provincia
NaN    NaN                                       NaN                 27.7
1.0    Tarapac谩                                  Iquique             15.0
                                                 Tamarugal           17.6
2.0    Antofagasta                               Antofagasta         23.0
                                                 El Loa              36.7
                                                 Tocopilla           27.3
3.0    Atacama                                   Copiap贸             26.5
                                                 Cha帽aral            18.2
                                                 Huasco              18.8
4.0    Coquimbo                                  Elqui               24.5
                                                 Choapa              16.7
                                                 Limar铆              16.8
5.0    Valpara铆so                                Valpara铆so          25.7
                                                 Isla de Pascua     100.0
                                                 Los Andes           25.6
                                                 Petorca             23.6
                                                 Quillota            21.9
                                                 San Antonio         28.0
                                                 San Felipe          28.4
                                                 Marga Marga         25.2
6.0    Libertador General Bernardo O'Higgins     Cachapoal           27.0
                                                 Cardenal Caro       29.2
                                                 Colchagua           23.2
7.0    Maule                                     Talca               24.1
                                                 Cauquenes           19.0
                                                 Curic贸              25.5
                                                 Linares             24.7
8.0    Biob铆o                                    Concepci贸n          26.5
                                                 Arauco              24.7
                                                 B铆ob铆o              23.5
9.0    La Araucan铆a                              Caut铆n              26.4
                                                 Malleco             24.9
10.0   Los Lagos                                 Llanquihue          31.6
                                                 Chilo茅              19.5
                                                 Osorno              27.3
                                                 Palena              16.7
11.0   Ays茅n del General Carlos Ib谩帽ez del Campo Coyhaique           34.1
                                                 Ays茅n               24.4
                                                 Capit谩n Prat        33.3
                                                 General Carrera     18.2
12.0   Magallanes y de la Ant谩rtica Chilena      Magallanes          33.8
                                                 Tierra del Fuego     0.0
                                                 ltima Esperanza    16.0
13.0   Metropolitana de Santiago                 Santiago            31.5
                                                 Cordillera          43.6
                                                 Chacabuco           29.6
                                                 Maipo               31.0
                                                 Melipilla           23.4
                                                 Talagante           17.4
14.0   Los R铆os                                  Valdivia            29.0
                                                 Ranco               28.1
15.0   Arica y Parinacota                        Arica               26.4
                                                 Parinacota         100.0
16.0   uble                                     Diguill铆n           25.5
                                                 Itata               31.8
                                                 Punilla             19.7

                                                                   2020.0
Region Nombre Region                             Nombre Provincia
NaN    NaN                                       NaN                 35.6
1.0    Tarapac谩                                  Iquique             35.9
                                                 Tamarugal           37.5
2.0    Antofagasta                               Antofagasta         40.3
                                                 El Loa              43.4
                                                 Tocopilla           34.6
3.0    Atacama                                   Copiap贸             36.5
                                                 Cha帽aral            33.3
                                                 Huasco              30.1
4.0    Coquimbo                                  Elqui               33.2
                                                 Choapa              32.7
                                                 Limar铆              23.9
5.0    Valpara铆so                                Valpara铆so          32.4
                                                 Isla de Pascua      16.7
                                                 Los Andes           32.8
                                                 Petorca             36.8
                                                 Quillota            30.3
                                                 San Antonio         26.4
                                                 San Felipe          32.8
                                                 Marga Marga         31.1
6.0    Libertador General Bernardo O'Higgins     Cachapoal           30.9
                                                 Cardenal Caro       26.7
                                                 Colchagua           35.1
7.0    Maule                                     Talca               31.4
                                                 Cauquenes           33.7
                                                 Curic贸              33.9
                                                 Linares             29.9
8.0    Biob铆o                                    Concepci贸n          39.4
                                                 Arauco              33.5
                                                 B铆ob铆o              32.9
9.0    La Araucan铆a                              Caut铆n              26.9
                                                 Malleco             28.2
10.0   Los Lagos                                 Llanquihue          44.4
                                                 Chilo茅              45.6
                                                 Osorno              47.2
                                                 Palena              39.4

#  Participantes
A帽os-persona de cada provincia

In [ ]:
#@title Exclusi贸n Ant谩rtica
cubo = pd.read_parquet(path_cubo + 'CUBO_CANCER_DIGESTIVO.parquet')
cubo = cubo[cubo.Provincia!=122]

In [ ]:
def get_participantes(RangoEdad, categoria='C16', periodo_objetivo=range(2003,2025)):

  # Filtrar tipo de c谩ncer
  df = cubo[cubo.Categoria==categoria].copy()

  # Agrupar edad por rango
  metricas = ['Poblacion','PoblacionRural','Fonasa','A','B','C','D','Isapre']
  df = df.groupby(['A帽o','Sexo',RangoEdad,'RPC','Provincia'],observed=True)[metricas].sum().reset_index()

  # Generar poblaci贸n de estudio y objetivo
  df1 = df[df.RPC>0].copy()
  df2 = df[df.A帽o.isin(periodo_objetivo)].copy()
  df1['Grupo'] = 'Estudio'
  df2['Grupo'] = 'Objetivo'
  df = pd.concat([df1,df2])

  # Contar A帽os
  agg_dict = {metric: 'sum' for metric in metricas}
  agg_dict['A帽o'] = 'count'
  df = df.groupby(['Sexo', RangoEdad,'RPC','Provincia','Grupo'], observed=True).agg(agg_dict).reset_index()

  return df

poblaciones = get_participantes('RangoEdad4080')
poblaciones.sample(5)

,Sexo,RangoEdad4080,RPC,Provincia,Grupo,Poblacion,PoblacionRural,Fonasa,A,B,C,D,Isapre,A帽o
219,Hombre,"[50, 60)",2,81,Estudio,306905,11346,84474,13990,37715,12419,20350,43630,6
547,Mujer,"[0, 40)",6,72,Estudio,46169,12846,41282,20752,10216,4690,5624,2016,3
729,Mujer,"[60, 70)",0,58,Objetivo,367681,16518,229571,50410,129543,22939,26679,36848,22
135,Hombre,"[40, 50)",1,21,Objetivo,325048,8057,135719,18780,35780,43060,38099,151278,13
533,Mujer,"[0, 40)",1,23,Estudio,135536,5592,52732,33172,5831,7001,6728,40488,13

## Tabla 1

Seg煤n recomendaciones de Hayes-Larson, Eleanor, Katrina L. Kezios, Stephen J. Mooney, y Gina Lovasi. 芦Who Is in This Study, Anyway? Guidelines for a Useful Table 1禄. Journal of Clinical Epidemiology 114 (octubre de 2019): 125-32. https://doi.org/10.1016/j.jclinepi.2019.06.011.

In [ ]:
def subtabla(variable, RangoEdad, df) -> pd.DataFrame:

  # sumar total poblaci贸n

  match variable:
    case 'Total':
      df = df.groupby(['Grupo'],observed=True)['Poblacion'].sum().reset_index()
      df['Total'] = df['Grupo'] + ' N=' + df['Poblacion'].astype(str)
      return df.Total.to_list()

    case 'Sexo' | 'RangoEdad4080':
      df = df.pivot_table(index=variable, values='Poblacion',columns='Grupo',aggfunc='sum',margins=True)
      # transform to percentages
      df['Estudio'] = df['Estudio']/df.loc['All','Estudio']
      df['Objetivo'] = df['Objetivo']/df.loc['All','Objetivo']
      return df.drop('All').drop(columns='All').reset_index(names=variable)

    case 'Ruralidad':
      df = df.groupby(['Grupo'], observed=True)[['PoblacionRural','Poblacion']].sum().reset_index()
      df['Ruralidad'] = df['PoblacionRural']/df['Poblacion']
      return df[['Grupo','Ruralidad']].set_index('Grupo').T

    case 'Beneficiarios':
      tramos = ['A','B','C','D','Isapre']
      df = df.groupby(['Grupo'], observed=True)[['Poblacion'] + tramos].sum().reset_index()
      for col in tramos:
        df[col] = df[col]/df['Poblacion']
      return df.set_index('Grupo').T.drop('Poblacion').reset_index(names='Beneficiarios')

subtabla('Beneficiarios', 'RangoEdad4080', poblaciones)

Grupo Beneficiarios   Estudio  Objetivo
0                 A  0.187126  0.195631
1                 B  0.203844  0.263710
2                 C  0.100510  0.125127
3                 D  0.120512  0.164319
4            Isapre  0.173045  0.179382

In [ ]:
def get_tabla1(RangoEdad, df):

  # Agrupar tablas
  tabla = pd.DataFrame()
  for variable in ['Sexo',RangoEdad,'Ruralidad','Beneficiarios']:
    tabla_var = subtabla(variable, RangoEdad, df)
    tabla_var['Variable'] = variable
    tabla_var.rename(columns={variable:'Valor'},inplace=True)
    tabla = pd.concat([tabla, tabla_var])

  # Formatear 铆ndice y columnas
  tabla.set_index(['Variable','Valor'], inplace=True)
  tabla.columns = subtabla('Total', 'RangoEdad4080', poblaciones)

  return (tabla*100).round(1)


tabla1 = get_tabla1('RangoEdad4080', poblaciones)
tabla1

                         Estudio N=29348519  Objetivo N=393050493
Variable      Valor
Sexo          Hombre                   49.6                  49.3
              Mujer                    50.4                  50.7
RangoEdad4080 [0, 40)                  61.9                  59.8
              [40, 50)                 13.9                  13.7
              [50, 60)                 11.1                  11.5
              [60, 70)                  7.1                   8.0
              [70, 80)                  4.1                   4.7
              [80, 120)                 2.0                   2.4
Ruralidad     NaN                      15.5                  12.2
Beneficiarios A                        18.7                  19.6
              B                        20.4                  26.4
              C                        10.1                  12.5
              D                        12.1                  16.4
              Isapre                   17.3                  17.9